body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

fieldset {
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    padding: 20px;
    width: 80%; 
}

.error {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

input[type="text"], input[type="password"], select {
    padding: 5px;
    margin-top: 5px;
    width: 250px;
}

#missatgeFinal {
    border: 2px solid green;
    background-color: #e0f8e0;
    padding: 15px;
    margin-bottom: 20px;
    color: green;
}

.ocult {
    display: none;
}

.botoesborrar {
    background-color: #ff0505;
    color: rgb(0, 0, 0);
}

.botoenviar {
    background-color: #26a500;
    color: rgb(0, 0, 0);
}